* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, nav a, footer a, button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    line-height: 1.5;
    text-decoration: underline; 
    text-decoration-color: #0088a9;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.5;
    text-decoration: underline; 
    text-decoration-color: #0088a9;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

.project h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    line-height: 1.5;
    background-color: #0088a9;
    width: 33%;
    position: absolute;
    top: 50px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 2.5;
}

.project p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 2.5;
    background-color: #0088a9;
    width: 33%;
    position: absolute;
    top: 75px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

nav-links li a {
    transition: all 0.3s ease 0s;
}

nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: rgba(0,136,169,0.8);  
}

button.resume-button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 0;
    margin-top: 10px;
}

.container {
    padding: 30px 10%;
}

.even-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.project {
    border: 3px solid white;
    width: 100%;
    height: auto;
    margin: 0 20px 0 0;
    position: relative;
}

.profile-picture {
    width: 300px;
}

img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.project img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .even-columns {
        display: block;
        margin: 0;
    }
  }

  @media only screen and (max-width: 800px) {
    .profile-picture {
        display: none;
    }
    .even-columns {
        padding: 0;
    }
    p, li, nav a, button {
        font-size: 12px;
    }
    footer {
        display: block;
    }
    .nav-links li {
        display: inline-block;
        padding: 0px;
    }
    .project h3, .project p {
        width: 50%;
    }

    #about-me p {
        margin-top: 10px;
        flex-wrap: nowrap;
    }
  }